# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
.python-version

# Virtual environments
.venv/
venv/
env/

# Environment variables
.env
.env.*

# Jupyter
.ipynb_checkpoints/

# IDEs
.vscode/
.idea/

# OS files
.DS_Store
Thumbs.db

# Logs
*.log
logs/

# Testing & coverage
.pytest_cache/
.coverage
coverage/
htmlcov/

# Build artifacts
build/
dist/
*.egg-info/

# Type checking
.mypy_cache/
.pyre/
.pytype/

# Linting
.ruff_cache/

# Airflow
airflow.db
airflow-webserver.pid
airflow.cfg

# Spark
metastore_db/
spark-warehouse/

# Data (keep raw/generated data out of Git)
data/
*.parquet
*.csv
*.json
*.orc
*.avro

# Secrets
*.pem
*.key

# Logs and Local System Folders
dbt_modules/
dbt_packages/

# Hidden configuration folders (where profiles.yml usually sits)
.dbt/